<!DOCTYPE html>
<html>
<head>
	<LINK rel=stylesheet type="text/css" href="./static/app.css">
</head>
    <body>
        <h1>Home Page - Sistema Financeiro</h1></br>
        <div class="index">
            <h3>Cadastrar registros</h3>
            <a href="/financeiro/criarClassContasReceber"> Criar classe de contas a receber </a></br>
            <a href="/financeiro/criarClassContasPagar"> Criar classe de contas a pagar </a></br>
            <a href="/financeiro/criarFormaPagamentoRecebimento"> Criar forma de pagamento recebimento </a></br>
            <a href="/financeiro/criarContasPagar"> Criar contas a pagar </a></br>
            <a href="/financeiro/criarContasReceber"> Criar contas a receber </a></br>
        </div>
        <div class="index">
            <h3>Listar registros</h3>
            <a href="/financeiro/listarClassContasReceber"> Listar classe de contas a receber </a></br>
            <a href="/financeiro/listarClassContasPagar"> Listar classe de contas a pagar </a></br>
            <a href="/financeiro/listarFormaPagamentoRecebimento"> Listar forma de pagamento recebimento </a></br>
            <a href="/financeiro/listarContasPagar"> Listar contas a pagar </a></br>
            <a href="/financeiro/listarContasReceber"> Listar contas a receber </a></br>
        </div>
    </body>
</html>