<!DOCTYPE html>
<html>
    <body>
        <h1>Home Page - Sistema Financeiro</h1></br>
        <a href="/financeiro/criarClassContasReceber"> Criar classe de contas a receber </a></br>
        <a href="/financeiro/criarClassContasReceber"> Criar classe de contas a receber </a></br>
        <a href="/financeiro/criarClassContasReceber"> Criar classe de contas a receber </a></br>
        <a href="/financeiro/criarClassContasReceber"> Criar classe de contas a receber </a></br>
        <a href="/financeiro/criarClassContasReceber"> Criar classe de contas a receber </a></br>
    </body>
</html>