<!DOCTYPE html>
<html>
<head>
	<LINK rel=stylesheet type="text/css" href="../static/app.css">
</head>
    <body>
        <h1>Home Page - Sistema Financeiro</h1></br>
        <a href="/financeiro/criarClassContasReceber"> Criar classe de contas a receber </a></br>
        <a href="/financeiro/criarClassContasPagar"> Criar classe de contas a pagar </a></br>
        <a href="/financeiro/criarFormaPagamentoRecebimento"> Criar forma de pagamento recebimento </a></br>
        <a href="/financeiro/criarContasPagar"> Criar contas a receber </a></br>
        <a href="/financeiro/criarContasReceber"> Criar contas a receber </a></br>
    </body>
</html>